.button a{
    text-decoration: none;
}

.button{
    display: inline-block;
    padding: 9px 24px;
    border: 2px solid var(--color-primary);
    border-radius: 10px;
    font-weight: 500;
    transition: all .6s ease;
    &:hover{
        transform: translateY(-5px);
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}
