.hero__banner{
    background-image: url("../../image/hero-banner.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero__content{
    padding: 200px 0;
    text-align: center;

}

.hero__title{
    font-size: 50px;
    color: var(--color-primary);
}

.hero__desc{
    font-size: 20px;
    color: var(--color-white);
    margin-top: 20px;
}

.hero__button{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.hero__span{
    color: var(--color-secondary);
}