.projects{
    padding-block: 80px;
}

.projects__title{
    font-size: 50px;
    font-weight: 700;
    line-height: 110%;
    text-align: center;
    margin-bottom: 20px;
}

.project__desc{
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.projects__cards{
    display: flex;
    align-items: center;
    gap: 24px;
}

.projects__card{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 4px 24.2px 0px rgba(0, 0, 0, 0.08);
    gap: 16px;
}

.card__content{
    padding: 10px;
    text-align: center;
}

.card__content a{
text-decoration: none;
}